[Desktop Entry]
Name=Manuskript
Exec=manuskript
Type=Application
StartupNotify=true
Comment=Launch Manuskript
Path=
Icon=emoji-objects
X-XFCE-Source=file:///home/gigi/.local/share/applications/wine/Programs/Scrivener/Scrivener.desktop
Terminal=false
