[Desktop Entry]
Version=1.0
Type=Application
Name=Manuskript
Comment=Manuskript is an open-source tool for writers (git version).
Exec=manuskript %U
Icon=kingsoft-writer
Path=
Terminal=false
StartupNotify=false
