#
# Colour scheme
#
gtk-color-scheme = "base_color:#FEFEF7&\nbg_color:#FEFEF7"
gtk-color-scheme = "text_color:#091f2c\nfg_color:#203a3e"
gtk-color-scheme = "selected_bg_color:#cac46e\nselected_fg_color:#203a3e"
gtk-color-scheme = "tooltip_bg_color:#203a3e\ntooltip_fg_color:#30a490"
gtk-color-scheme = "link_color:#8abeb7\nvisited_link_color:#488776"
gtk-color-scheme = "inverted_dark_color:#091f2c\ninverted_fg_color:#fefef7"
gtk-color-scheme = "scroll_slider_color:#30a490\nscroll_slider_prelight_color:#488776"
gtk-color-scheme = "panel_bg_color:#203a3e"
gtk-color-scheme = "secondary_dark_color:#e6aab4"
gtk-color-scheme = "solid_white:#fefef7"
gtk-color-scheme = "accent_color:#d07c67"
gtk-color-scheme = "light_color:#ecccc2"


#
# Default Colours
#
style "default_colors" {
  text[NORMAL] = mix(0.87, @text_color, @base_color)
  text[PRELIGHT] = @text_color
  text[ACTIVE] = @selected_fg_color
  text[INSENSITIVE] = mix(0.28, @text_color, @base_color)
  text[SELECTED] = @selected_fg_color

  base[NORMAL] = @base_color
  base[PRELIGHT] = mix(0.5, @base_color, @bg_color)
  base[ACTIVE] = @selected_bg_color
  base[INSENSITIVE] = mix(0.5, @base_color, @bg_color)
  base[SELECTED] = @selected_bg_color

  fg[NORMAL] = mix(0.87, @fg_color, @bg_color)
  fg[PRELIGHT] = @fg_color
  fg[ACTIVE] = @fg_color
  fg[INSENSITIVE] = mix(0.28, @fg_color, @bg_color)
  fg[SELECTED] = @selected_fg_color

  bg[NORMAL] = @bg_color
  bg[PRELIGHT] = mix(0.1, @fg_color, @bg_color)
  bg[ACTIVE] = mix(0.2, @fg_color, @bg_color)
  bg[INSENSITIVE] = @bg_color
  bg[SELECTED] = @selected_bg_color
}
