!#####
!# X #
!#####

! X config
Xcursor.size: 2

!##########
!# COLORS #
!##########

!! black
*color0:  #000000
*color8:  #211919

!! red
*color1:  #ae604e
*color9:  #f2bea6

!! green
*color2 : #658f62
*color10: #b3a57a

!! yellow
*color3:  #d1ba67
*color11: #fefebb

!! blue
*color4:  #5a5139
*color12: #8a7e79

!! magenta
*color5:  #8a7988
*color13: #aaaf9d

!! cyan
*color6:  #7ab395
*color14: #d4d0c2

!! white
*color7:  #d7d7d5
*color15: #fdfdfc

!#########
!# URXVT #
!#########

! scrollbar
URxvt.scrollBar:	false
URxvt.scrollBar_right:	false
URxvt.scrollstyle: 	plain
URxvt.thickness:	0

! padding
URxvt.internalBorder:	25

URxvt.depth:            30
URxvt.saveLines:        10000

URxvt.foreground:       #fdfdfc
URxvt.background:       #000000

URxvt.iconFile:         /home/gigi/.icons/Xenlism-Wildfire/Apps

!#########
!# FONTS #
!#########

! fonts
Xft.autohint:		1
Xft.antialias:          1
Xft.hinting:            true
Xft.hintstyle:          hintfull
Xft.lcdfilter:          lcddefault
Xft.rgba:               rgb

*URxvt.font:		xft:Fira Code:size=11
URxvt.boldFont:         xft:Fira Code Bold:size=11
!URxvt.lineSpace:	10
!URxvt.letterSpace:	0
