!#####
!# X #
!#####

! X config
Xcursor.size: 2

!##########
!# COLORS #
!##########

!! black
*color0:  #01091e
*color8:  #01102e

!! red
*color1:  #9A655D
*color9:  #d87768

!! green
*color2 : #535C67
*color10: #5f7691

!! yellow
*color3:  #9D8A70
*color11: #ddb680

!! blue
*color4:  #276491
*color12: #2683c8

!! magenta
*color5:  #2F506E
*color13: #326899

!! cyan
*color6:  #56738F
*color14: #6095c8

!! white
*color7:  #a9bfcb
*color15: #dffcff

!#########
!# URXVT #
!#########

! scrollbar
URxvt.scrollBar:	false
URxvt.scrollBar_right:	false
URxvt.scrollstyle: 	plain
URxvt.thickness:	0

! padding
URxvt.internalBorder:	25

URxvt.depth:            30
URxvt.saveLines:        10000

URxvt.foreground:       #dffcff
URxvt.background:       #01091e

URxvt.iconFile:         /home/gigi/.icons/Xenlism-Wildfire/Apps

!#########
!# FONTS #
!#########

! fonts
Xft.autohint:		1
Xft.antialias:          1
Xft.hinting:            true
Xft.hintstyle:          hintfull
Xft.lcdfilter:          lcddefault
Xft.rgba:               rgb

*URxvt.font:		xft:Fira Code:size=11
URxvt.boldFont:         xft:Fira Code Bold:size=11
!URxvt.lineSpace:	10
!URxvt.letterSpace:	0
