[Desktop Entry]
Name=Thunderbird (Bleeding edge)
Comment=Send and receive mail with Thunderbird
GenericName=Mail Client (Bleeding edge)
Exec=/usr/bin/thunderbird %u
Terminal=false
Type=Application
Icon=thunderbird
Categories=Network;Email;
MimeType=message/rfc822;x-scheme-handler/mailto;application/x-xpinstall;
StartupNotify=true
Actions=ComposeMessage;OpenAddressBook;
X-XFCE-Source=file:///usr/share/applications/thunderbird-bin.desktop

[Desktop Action ComposeMessage]
Name=Write new message
Exec=/usr/bin/thunderbird -compose

[Desktop Action OpenAddressBook]
Name=Open address book
Exec=/usr/bin/thunderbird -addressbook
