[Desktop Entry]
Type=Application
Name=TigerVNC Viewer
Comment=VNC client
Exec=vncviewer
Icon=tigervnc
Terminal=false
StartupNotify=false
Categories=Network;RemoteAccess;
X-XFCE-Source=file:///usr/share/applications/vncviewer.desktop
Path=
