[Desktop Entry]
Name=Trilium
GenericName=Note Taking Application
Comment=A hierarchical note taking application built on modern technologies.
Exec=trilium %f
Icon=obs
Terminal=false
Type=Application
Categories=Office
StartupWMClass=trilium notes
X-XFCE-Source=file:///usr/share/applications/trilium.desktop
Path=
StartupNotify=false
