[Desktop Entry]
Categories=Office
Comment=Use a capture template to add to today's daily file in Org Roam.
Exec=/usr/bin/emacsclient -c -e '(org-roam-dailies-capture-today)'
Icon=appointment-new
Name=Org Roam - Capture (Today)
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
