[Desktop Entry]
Categories=Settings
Comment=Xmonad layout that stores floating window positions.
Exec=/home/gigi/.local/bin/xmlayout p_saveFL
Icon=/home/gigi/.xmonad/layout-indicators/p_saveFL.svg
Name=xmonad-layout-position-store-float
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
