[Desktop Entry]
Categories=Settings
Comment=Xmonad layout where new windows will split the focused window in half, based off of BSPWM, with very large gaps between windows.
Exec=/home/gigi/.local/bin/xmlayout x_xlBSP
Icon=/home/gigi/.xmonad/layout-indicators/x_xlBSP.svg
Name=xmonad-layout-xl-gaps-basic
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
