[Desktop Entry]
Categories=Settings
Comment=Xmonad layout that places windows into three equal columns.
Exec=/home/gigi/.local/bin/xmlayout T_threeCol
Icon=/home/gigi/.xmonad/layout-indicators/T_threeCol.svg
Name=xmonad-layout-three-equal-columns
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
