[Desktop Entry]
Categories=Settings
Comment=Xmonad layout with fullscreen window.
Exec=/home/gigi/.local/bin/xmlayout F_full
Icon=/home/gigi/.xmonad/layout-indicators/F_full.svg
Name=xmonad-layout-fullscreen
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
