/*****************
 * Notebooks and *
 * tabs          *
 *****************/

.notebook {
    padding: 0px;

	background-color: @theme_base_color;

	border-style: solid;
  border-width: 0 1px 1px 1px;
	border-radius: 4px;
    border-left-color: 		shade(@notebook_border, 1.25);
    border-right-color: 	shade(@notebook_border, 1.25);
    border-bottom-color: 	shade(@notebook_border, 1.40);
	border-image: none;
    -GtkWidget-focus-line-width: 0;
}

.notebook GtkDrawingArea {
	background-color: @theme_bg_color;
}

.notebook tab {
  background-color: @theme_base_color;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
	border-radius: 0px;
	border-color: shade(@notebook_border, 0.55);
	border-image: none;
  box-shadow: inset  0px  1px alpha(@lightest-grey 0.08),
              inset  1px  0px alpha(@lightest-grey 0.08),
              inset -1px  0px alpha(@lightest-grey 0.08);
}

.notebook tab:first-child:active,
.notebook tab:first-child {
    border-radius: 3px 0px 0px 0px;
}

.notebook tab:last-child:active,
.notebook tab:last-child {
    border-radius: 0px 3px 0px 0px;
}

.notebook tab:only-child {
    border-radius: 0px 0px 0px 0px;
}

.notebook tab.top {
    padding: 2px 6px;
}

.notebook tab.bottom {
    padding: 2px 6px;
}

.notebook tab.right {
    padding: 3px 4px 3px 0px;
}

.notebook tab.left {
    padding: 3px 0px 3px 4px;
}

.notebook tab:active {
    background-color: @dark-grey;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
	border-radius: 0px;
	border-color: shade(@notebook_border, 0.40);
    border-top-color: 	shade(@notebook_border, 0.38);
    border-left-color: 	shade(@notebook_border, 0.42);
    border-right-color: shade(@notebook_border, 0.42);
	border-image: none;
    box-shadow: inset  0px  3px alpha(@black 0.02),
				inset  0px  2px alpha(@black 0.03),
				inset  0px  1px alpha(@black 0.04),
                inset  2px  0px alpha(@black 0.02),
                inset  1px  0px alpha(@black 0.04),
                inset -2px  0px alpha(@black 0.02),
                inset -1px  0px alpha(@black 0.04);
}

.notebook tab,
.notebook tab GtkLabel {
	color: @theme_fg_dark_color;
	text-shadow: none;
}

.notebook .button:active,
.notebook .button:active:hover {
  color: @fuchsia;
  background-color: $dark-grey;
}
