!#####
!# X #
!#####

! X config
Xcursor.size: 2

!##########
!# COLORS #
!##########

!! black
*color0:  #19171a
*color8:  #23272d

!! red
*color1:  #ca5545
*color9:  #d57861

!! green
*color2 : #5c7855
*color10: #728c5d

!! yellow
*color3:  #ddb15a
*color11: #f9bf79

!! blue
*color4:  #85544c
*color12: #a98961

!! magenta
*color5:  #ea8679
*color13: #f09f6d

!! cyan
*color6:  #275660
*color14: #366f79

!! white
*color7:  #ebcab8
*color15: #ebdbb9

!#########
!# URXVT #
!#########

! scrollbar
URxvt.scrollBar:	false
URxvt.scrollBar_right:	false
URxvt.scrollstyle: 	plain
URxvt.thickness:	0

! padding
URxvt.internalBorder:	25

URxvt.depth:            30
URxvt.saveLines:        10000

URxvt.foreground:       #ebdbb9
URxvt.background:       #19171a

!#########
!# FONTS #
!#########

! fonts
Xft.autohint:		1
Xft.antialias:          1
Xft.hinting:            true
Xft.hintstyle:          hintfull
Xft.lcdfilter:          lcddefault
Xft.rgba:               rgb

*URxvt.font:		xft:Cascadia Code:size=11
URxvt.boldFont:         xft:Cascadia Code Bold:size=11
!URxvt.lineSpace:	10
!URxvt.letterSpace:	0
