!#####
!# X #
!#####

! X config
Xcursor.size: 2

!##########
!# COLORS #
!##########

!! black
*color0:  #040b09
*color8:  #080e0c

!! red
*color1:  #d06158
*color9:  #e16e5f

!! green
*color2 : #53786a
*color10: #61ad91

!! yellow
*color3:  #cb8266
*color11: #e3a171

!! blue
*color4:  #678180
*color12: #79bbb7

!! magenta
*color5:  #6b6177
*color13: #8c72ad

!! cyan
*color6:  #219f81
*color14: #1fdbb1

!! white
*color7:  #b2bebd
*color15: #e6e9e9

!#########
!# URXVT #
!#########

! scrollbar
URxvt.scrollBar:	false
URxvt.scrollBar_right:	false
URxvt.scrollstyle: 	plain
URxvt.thickness:	0

! padding
URxvt.internalBorder:	25

URxvt.depth:            30
URxvt.saveLines:        10000

URxvt.foreground:       #e6e9e9
URxvt.background:       #040b09

!#########
!# FONTS #
!#########

! fonts
Xft.autohint:		1
Xft.antialias:          1
Xft.hinting:            true
Xft.hintstyle:          hintfull
Xft.lcdfilter:          lcddefault
Xft.rgba:               rgb

*URxvt.font:		xft:Victor Mono:size=10
URxvt.boldFont:         xft:Victor Mono Bold:size=10
!URxvt.lineSpace:	10
!URxvt.letterSpace:	0
