!#####
!# X #
!#####

! X config
Xcursor.size: 2

!##########
!# COLORS #
!##########

!! black
*color0:  #091f2c
*color8:  #203a3e

!! red
*color1:  #d07c67
*color9:  #e6958b

!! green
*color2 : #617c42
*color10: #9CA259

!! yellow
*color3:  #797543
*color11: #cac46e

!! blue
*color4:  #30a490
*color12: #8abeb7

!! magenta
*color5:  #ae7583
*color13: #bc94a3

!! cyan
*color6:  #488776
*color14: #b2d5b7

!! white
*color7:  #ecccc2
*color15: #fefef7

!#########
!# URXVT #
!#########

! scrollbar
URxvt.scrollBar:	false
URxvt.scrollBar_right:	false
URxvt.scrollstyle: 	plain
URxvt.thickness:	0

! padding
URxvt.internalBorder:	25

URxvt.depth:            30
URxvt.saveLines:        10000

URxvt.foreground:       #fefef7
URxvt.background:       #091f2c

URxvt.iconFile:         /home/gigi/.icons/Xenlism-Wildfire/Apps

!#########
!# FONTS #
!#########

! fonts
Xft.autohint:		1
Xft.antialias:          1
Xft.hinting:            true
Xft.hintstyle:          hintfull
Xft.lcdfilter:          lcddefault
Xft.rgba:               rgb

*URxvt.font:		xft:Fira Code:size=11
URxvt.boldFont:         xft:Fira Code Bold:size=11
!URxvt.lineSpace:	10
!URxvt.letterSpace:	0
