[Desktop Entry]
Name=Krita
Exec=krita %F
GenericName=Digital Painting
MimeType=application/x-krita;image/openraster;application/x-krita-paintoppreset;
Comment=Digital Painting
Type=Application
Icon=krita
Categories=Qt;KDE;Graphics;2DGraphics;RasterGraphics;
X-KDE-NativeMimeType=application/x-krita
X-KDE-ExtraNativeMimeTypes=
StartupNotify=true
X-Krita-Version=28
StartupWMClass=krita
InitialPreference=99
X-XFCE-Source=file:///usr/share/applications/org.kde.krita.desktop
