.check,
.radio,
.check:active,
.radio:active,
.check:disabled,
.radio:disabled {
    background-color: transparent;
    border-style: none;
}

GtkCheckButton:hover,
GtkCheckButton:active:hover,
GtkCheckButton:selected,
GtkCheckButton:selected:focus {
    background-color: transparent;
}

.check,
.check row:selected,
.check row:selected:focus {
    background-image: url("assets1/checkbox-unchecked1.png");
}

.check:disabled,
.check row:selected:disabled,
.check row:selected:focus:disabled {
    background-image: url("assets1/checkbox-unchecked-insensitive1.png");
    background-color: transparent;
}

.check:active,
.check row:selected:active,
.check row:selected:focus:active {
    background-image: url("assets1/checkbox-checked1.png");

}

.check:active:disabled,
.check row:selected:active:disabled,
.check row:selected:focus:active:disabled {
    background-image: url("assets1/checkbox-checked-insensitive1.png");
    background-color: transparent;
}

.check:indeterminate,
.check row:selected:indeterminate,
.check row:selected:focus:indeterminate {
    background-image: url("assets1/checkbox-mixed1.png");

}

.check:indeterminate:disabled,
.check row:selected:indeterminate:disabled,
.check row:selected:focus:indeterminate:disabled {
    background-image: url("assets1/checkbox-mixed-insensitive1.png");

}


.radio,
.radio row:selected,
.radio row:selected:focus {
    background-image: url("assets1/radio-unselected.png");
}

.radio:disabled,
.radio row:selected:disabled,
.radio row:selected:focus:disabled {
    background-image: url("assets1/radio-unselected-insensitive.png");
}

.radio:active,
.radio row:selected:active,
.radio row:selected:focus:active {
	background-image: url("assets1/radio-selected.png");
}

.radio:active:disabled,
.radio row:selected:active:disabled,
.radio row:selected:focus:active:disabled {
    background-image: url("assets1/radio-selected-insensitive.png");
}

.radio:indeterminate,
.radio row:selected:indeterminate,
.radio row:selected:focus:indeterminate {
    background-image: url("assets1/radio-mixed.png");

}

.radio:indeterminate:disabled,
.radio row:selected:indeterminate:disabled,
.radio row:selected:focus:indeterminate:disabled {
    background-image: url("assets1/radio-mixed-insensitive.png");
    background-color: transparent;
}

/*
.sidebar .radio:active,
.sidebar .radio:active:focus,
.sidebar .radio:active:hover {
    background-image: url("assets/sidebar-radio-checked.svg");
}

.sidebar .radio:active,
.sidebar .radio:active:focus,
.sidebar .radio:active:hover {
    background-image: url("assets/sidebar-radio-checked.svg");
}

.sidebar .radio:hover {
    background-image: url("assets/sidebar-radio-prelight.svg");
}

.sidebar .radio:active:selected,
.sidebar .radio:active:selected:focus {
    background-image: url("assets/sidebar-radio-selected.svg");
}

.sidebar .radio:selected:hover,
.sidebar .radio:selected:focus {
    background-image: url("assets/sidebar-radio-selected-prelight.svg");    
}

*/



